/build
/src/lexer.h
/.vscode/
/src/parser.output
/src/parser.hpp
/src/parser.cpp
CMakeCache.txt
/src/libcccl.a
/src/libcccrt.so
/src/location.hh
/src/lexer.cpp
/src/ccc
CMakeFiles/
Makefile/
Makefile
/cmake_install.cmake
/src/CMakeFiles/
/src/Makefiles
/src/cmake_install.cmake
test.c
test.c.ll
parser.output
*.pp
*.ll
*.code-workspace